@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/*GENERAL*/

html{
    --bleuIDFM: #25303B;
    --rougeIDF: #E42313;
    scroll-behavior: smooth;
}

body {
    background-color: var(--bleuIDFM);
    color: white;
    margin: 50px 20vw;
}

h1, h2, nav li a{
    font-family: Bebas Neue;
}

p, li{
    font-family: Montserrat;
    line-height: 1.2;
}

a{
    color: white;
}

em{
    font-style: italic;
}

div.titre{
    display: flex; 
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    margin: 30px 0px;
    h2{
        font-size: 2em;
    }
    i{
        font-size: 1.5em;
    }
}

/*NAVIGATION*/

#navbar {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center; 
    gap: 4rem;
    .logo {
        size: 10rem;
    }
    ul {
        display: flex; 
        justify-content: flex-end; 
        list-style: none; 
        gap: 2rem;
    }
    ul li {
        cursor: pointer;
        font-size: 1.5rem;
    }
    a{
        text-decoration: none;
    }
}

/*HERO*/

.hero {
    margin: 100px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    h1{
        font-size: 3em;
        min-width: 150px;
    }
    img{
        max-width: 50%;
        min-width: 150px !important;
    }
}

/*CARTE*/

div#map {
    width: 100%;
    aspect-ratio: 5/3;
}

/*PROJET */
#projet{
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    justify-content: flex-start;
}

section#projet ul {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0px;
    gap: 30px;
    margin: 15px 0px;
    img {
        max-width: 150px;
        height: auto; 
    }
}

/*Pour les téléphones*/
@media (max-width: 70rem) {
    body {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }
    #navbar {
        grid-template-columns: 1fr;
        gap: 1rem;
        justify-items: center;
        text-align: center;
    }

    #navbar ul {
        justify-content: center;
        align-items: center;
        gap: 1.2rem;
        padding: 0;
        margin: 0;
    }
    #navbar ul li {
        font-size: 1.5rem;
    }

    .section_titre {
        margin-left: 0.2rem;
        margin-right: 0.2rem;
        margin-top: 2rem;
        flex-direction: column;
        align-items: center;
    }
    
    .section_titre img {
        margin-right: 2rem; 
        max-width: 20rem; 
        height: auto;
        align-items: center;
    }

    .section_carte {
        flex-direction: row;
        align-items: left;
        text-align: left;
    }

    #map {
        margin-left: 0;
        margin-right: 0;
        width: 100%; 
    }
    

    .section_projet ul {
        flex-direction: column;
        align-items: center;
    }

    .section_projet ul li,
    .section_projet ul p {
        margin-right: 0;
        text-align: center;
    }

    .section_projet ul img {
        width: 10rem;
    }

    .section_projet p#texte {
        font-size: 0.9rem;
        margin-top: 1rem;
    }
}